<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>filtros.NewFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ComprobarUsuario</servlet-name>
        <servlet-class>usuarios.ComprobarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Simulaciones</servlet-name>
        <servlet-class>sim.Simulaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Simulacion</servlet-name>
        <servlet-class>sim.SimulacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComprobarUsuario</servlet-name>
        <url-pattern>/ComprobarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Simulaciones</servlet-name>
        <url-pattern>/Simulaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Simulacion</servlet-name>
        <url-pattern>/Simulacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
